<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File</title>
        <link rel="stylesheet" href="/styles.css" />
</head>
<body>
    <%- include("header")%>
    
    <main class="main-container">
        <%- include("sidebar")%>
        <%= file.filename%>
            <ul>
                <li>
                    <%= file.size%>kb
                </li>
                <li>
                    <%= file.uploadTime%>
                </li>
            </ul>
            <form action="/file-details/<%=file.id%>" method="POST">
                <button class="btn-2">Download</button>
            </form>
    </main>
    
</body>
</html>