<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css" />
    <script src="/toggleForm.js" defer></script>
</head>
<body>
    <%- include("header")%>
    <button class="upload-btn">Upload File</button>
    <h1><%=folder.foldername%></h1>
    <ul>
        <% files.forEach((file) => {%>
            <li>
                <a href="/file-details/<%=file.id%>">
                <%= file.originalFilename%>
                </a>
            </li>
        <%})%>
    </ul>
    <form class="upload-file-form" action="/folders/<%=folder.id%>/upload-file" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <button type="submit">Add</button>
    </form>
</body>
</html>