<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Uploader</title>
    <link rel="stylesheet" href="styles.css"/>
</head>
<body>
    <%- include("header")%>
    <main class="main-container">
        <%- include("sidebar")%>
            <% if(locals.files){%>
                <div class="container">
                    <h1 class="title">Files</h1>
                    <ul class="main-content">
                        <% files.forEach((file)=> {%>
                            <li class="file-card">
                    
                                <a href="/file-details/<%=file.id%>">
                                    <img class="icon" src="file-outline.svg" alt="file icon" />
                                    <%= file.filename%>
                                </a>
                    
                                <form action="/delete-file/<%=file.id%>" method="POST">
                                    <button class="btn-2">Delete File</button>
                                </form>
                            </li>
                            <%})%>
                    </ul>
                </div>
                
                <%}%>
    </main>

</body>
</html>